<%- include("partial/header") -%>

<h1>Compose</h1>

<form action="/compose" method="post" enctype="multipart/form-data">
    <div class="form-group mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="postTitle" required>
    </div>
    <div class="form-group mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Post</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="postBody" required></textarea>
    </div>
    <div class="form-group mb-3">
        <label for="exampleFormControlFile1" class="form-label">Upload File (Optional)</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1" name="file">
    </div>
    <button class="btn btn-primary" type="submit" name="button">Publish</button>
</form>

<%- include("partial/footer") -%>
